@model MedicineStock.Models.Manufacturer
<div class="card">
    <div class="card-body">
        <div class="productdetails">
            <ul class="product-bar">
                <li>
                    <h4>@Html.DisplayNameFor(model => model.ManufacturerId)</h4>
                    <h6>@Html.DisplayFor(model => model.ManufacturerId)</h6>
                </li>
                <li>
                    <h4>@Html.DisplayNameFor(model => model.Name)</h4>
                    <h6>@Html.DisplayFor(model => model.Name)</h6>
                </li>
                <li>
                    <h4>@Html.DisplayNameFor(model => model.Description)</h4>
                    <h6>@Html.DisplayFor(model => model.Description)</h6>
                </li>
            </ul>
        </div>
    </div>
</div>