@* @using Microsoft.AspNetCore.Mvc; *@
 @using Newtonsoft.Json;
@*  @model MedicineStock.Views.Shared._LayoutModel *@
@{
    // if (Context.Session.GetString("Account") == null)
    // {
    //     @model MedicineStock.Models.Account
    //     ViewData.Clear();
    //     ViewBag.Clear();
    //     await Html.PartialAsync("/Views/Account/Login.cshtml", Model);
    //     return;
    // }

    // if (sessionAccount == null)
    // {
    //     return HttpsRedirectionServicesExtensions
    // }
    var sessionAccount = Context.Session.GetString("Account");
    Dictionary<string, object> tempAccount = new Dictionary<string, object>();
    tempAccount["UserName"] = "";
    tempAccount["PermissionId"] = (long)-1;
    // convert to json
    var loggedAccount = sessionAccount == null ? tempAccount : JsonConvert.DeserializeObject<Dictionary<string, object>>(sessionAccount);
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords"
          content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern,  html5, responsive">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>@ViewData["Title"] - MedicineStock</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.jpg">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/css/animate.css">

    <link rel="stylesheet" href="~/assets/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>
    <div class="main-wrapper">

        <div class="header">

            <div class="header-left active">
                <a asp-action="Index" asp-controller="Home" class="logo">
                    <img src="~/assets/img/logo.png" alt="">
                </a>
                <a asp-action="Index" asp-controller="Home" class="logo-small">
                    <img src="~/assets/img/logo-small.png" alt="">
                </a>
                <a id="toggle_btn" href="javascript:void(0);">
                </a>
            </div>

            <a id="mobile_btn" class="mobile_btn" href="#sidebar">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <ul class="nav user-menu">

                <li class="nav-item dropdown has-arrow flag-nav">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);"
                       role="button">
                        <img src="~/assets/img/flags/us1.png" alt="" height="20">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="~/assets/img/flags/us.png" alt="" height="16"> English
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="~/assets/img/flags/fr.png" alt="" height="16"> French
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="~/assets/img/flags/es.png" alt="" height="16"> Spanish
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="~/assets/img/flags/de.png" alt="" height="16"> German
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="~/assets/img/profiles/avator1.jpg" alt="">
                            <span class="status online"></span>
                        </span>
                    </a>
                    <div class="dropdown-menu menu-drop-user">
                        <div class="profilename">
                            <div class="profileset">
                                <span class="user-img">
                                    <img src="~/assets/img/profiles/avator1.jpg" alt="">
                                    <span class="status online"></span>
                                </span>
                                <div class="profilesets">
                                    <h6>@loggedAccount["UserName"]</h6>
                                    <h5>@((int)(long)loggedAccount["PermissionId"] == 1 ? "Quản trị viên" : "Người bán hàng")</h5>
                                </div>
                            </div>
                            <hr class="m-0">
                            <a class="dropdown-item" href="profile.html">
                                <i class="me-2" data-feather="user"></i> Thông tin tài khoản
                            </a>
                            <hr class="m-0">
                            <a asp-controller="Account" asp-action="Logout" class="dropdown-item logout pb-0">
                                <img src="~/assets/img/icons/log-out.svg" class="me-2" alt="img">Đăng xuất
                            </a>
                        </div>
                    </div>
                </li>
            </ul>


            <div class="dropdown mobile-user-menu">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                   aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">Thông tin tài khoản</a>
                    <a class="dropdown-item" href="signin.html">Đăng xuất</a>
                </div>
            </div>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <!-- Dashboard -->
                        <li class="@(ViewBag.Menu=="Dashboard" ? "active" : "")">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/assets/img/icons/dashboard.svg" alt="img"><span>
                                    Tổng quan
                                </span>
                            </a>
                        </li>

                        <!-- Medicine -->
                        <li class="submenu">
                            <a href="javascript:void(0);" class="@(ViewBag.Menu=="Medicine" ? "active subdrop" : "")">
                                <img src="~/assets/img/icons/product.svg" alt="img"><span>
                                    Quản lí thuốc
                                </span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a asp-controller="Medicines" asp-action="Index">Danh sách thuốc</a></li>
                                <li><a asp-controller="Medicines" asp-action="Create">Thêm thuốc</a></li>
                            </ul>
                        </li>

                        <!-- Manufacturer -->
                        <li class="submenu">
                            <a href="javascript:void(0);" class="@(ViewBag.Menu=="Manufacturer" ? "active subdrop" : "")">
                                <img src="~/assets/img/icons/purchase1.svg" alt="img"><span>
                                    Quản lí nhà sản xuất
                                </span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a asp-controller="Manufacturers" asp-action="Index">Danh sách nhà sản xuất</a></li>
                                <li><a asp-controller="Manufacturers" asp-action="Create">Thêm nhà sản xuất</a></li>
                            </ul>
                        </li>

                        <!-- Prescripton -->
                        <li class="submenu">
                            <a href="javascript:void(0);" class="@(ViewBag.Menu=="Prescripton" ? "active subdrop" : "")">
                                <img src="~/assets/img/icons/transfer1.svg" alt="img"><span>
                                    Quản lí hoá đơn
                                </span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a asp-controller="Prescriptions" asp-action="Index">Danh sách hoá đơn</a></li>
                                <li><a asp-controller="Prescriptions" asp-action="Create">Tạo hoá đơn</a></li>
                            </ul>
                        </li>

                        <!-- Manufacturing Batch -->
                        <li class="submenu">
                            <a href="javascript:void(0);" class="@(ViewBag.Menu=="ManufacturingBatch" ? "active subdrop" : "")">
                                <img src="~/assets/img/icons/return1.svg" alt="img"><span>
                                    Lô thuốc
                                </span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a asp-controller="ManufacturingBatches" asp-action="Index">Danh sách lô</a></li>
                                <li><a asp-controller="ManufacturingBatches" asp-action="Create">Tạo lô mới</a></li>
                            </ul>
                        </li>

                        <!-- Account -->
                        <li class="submenu">
                            <a href="javascript:void(0);" class="@(ViewBag.Menu=="Account" ? "active subdrop" : "")">
                                <img src="~/assets/img/icons/users1.svg" alt="img"><span>
                                    Tài khoản
                                </span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a asp-controller="Account" asp-action="Index">Danh sách tài khoản</a></li>
                                <li><a asp-controller="Account" asp-action="Create">Tạo tài khoản</a></li>
                            </ul>
                        </li>

                        <!-- Function for admin only -->
                        @if ((int)(long)loggedAccount["PermissionId"] == 1)
                        {

                            <!-- Permission -->
                            <li class="submenu">
                                <a href="javascript:void(0);" class="@(ViewBag.Menu=="Permission" ? "active subdrop" : "")">
                                    <img src="~/assets/img/icons/places.svg" alt="img"><span>
                                        Phân quyền
                                    </span> <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a asp-controller="Permissions" asp-action="Index">Danh sách quyền</a></li>
                                    <li><a asp-controller="Permissions" asp-action="Create">Thêm quyền mới</a></li>
                                </ul>
                            </li>

                            <!-- Medicine Type Manager -->
                            <li class="submenu">
                                <a href="javascript:void(0);" class="@(ViewBag.Menu=="MedicineType" ? "active subdrop" : "")">
                                    <img src="~/assets/img/icons/expense1.svg" alt="img"><span>
                                        Quản lý phân loại thuốc
                                    </span> <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a asp-controller="MedicineTypes" asp-action="Index">Danh sách phân loại</a></li>
                                    <li><a asp-controller="MedicineTypes" asp-action="Create">Tạo phân loại mới</a></li>
                                </ul>
                            </li>

                            <!-- Statistics -->
                            <li class="submenu">
                                <a href="javascript:void(0);" class="@(ViewBag.Menu=="MedicineType" ? "active subdrop" : "")">
                                    <img src="~/assets/img/icons/expense1.svg" alt="img"><span>
                                        Thống kê 
                                    </span> <span class="menu-arrow"></span>
                                </a>
                                <ul>
                                    <li><a asp-controller="Statistics" asp-action="Index">Index</a></li>
                                    <li><a asp-controller="Statistics" asp-action="Create">Tạo phân loại mới</a></li>
                                </ul>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="content">
                @RenderBody()
                @RenderSection("Scripts", required: false)
            </div>
        </div>
    </div>


    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">
    <script src="assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/js/feather.min.js"></script>

    <script src="~/assets/js/jquery.slimscroll.min.js"></script>

    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/plugins/apexchart/apexcharts.min.js"></script>
    <script src="~/assets/plugins/apexchart/chart-data.js"></script>

    <script src="~/assets/js/script.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchBox = document.getElementById('searchBox');
            const table = document.getElementById('searchTable');
            const rows = table.getElementsByTagName('tr');

            searchBox.addEventListener('input', function () {
                const filter = searchBox.value.toLowerCase();
                for (let i = 1; i < rows.length; i++) {
                    const cells = rows[i].getElementsByTagName('td');
                    let found = false;
                    for (let j = 0; j < cells.length - 1; j++) {
                        if (cells[j].innerText.toLowerCase().indexOf(filter) > -1) {
                            found = true;
                            break;
                        }
                    }
                    rows[i].style.display = found ? '' : 'none';
                }
            });
        });
    </script>

</body>

</html>
