@model MedicineStock.Models.PrescriptionDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PrescriptionDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medicine.MedicineId)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prescription.PrescriptionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PrescriptionDetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
