@model IEnumerable<MedicineStock.Models.ManufacturingBatch>

@{
    ViewData["Title"] = "Danh sách";
    ViewBag.Menu = "ManufacturingBatch";
}

<!-- header -->
<div class="page-header">
    <div class="page-title">
        <h2>Danh sách lô</h2>
        <h6>Quản lý lô</h6>
    </div>
    <div class="page-btn">
        <a class="btn btn-added" asp-action="Create"><img src="/assets/img/icons/plus.svg" alt="img" class="me-1">Thêm mới</a>
    </div>
</div>
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine.MedicineId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ManufacturingBatchId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ManufacturingBatchId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ManufacturingBatchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@

<!-- search bar -->
<div class="table-top">
    <div class="search-set">
        <div class="search-input">
            <a class="btn btn-searchset"><img src="/assets/img/icons/search-white.svg" alt="img"></a>
            <input name="searchPhrase" type="search" class="form-control form-control-sm" placeholder="Tìm kiếm..." id="searchBox">
        </div>
    </div>
</div>

<div class="card mb-0">
    <div class="card-body">
        <div class="table-responsive dataview">
            <table class="table datatable " id="searchTable">
                <thead>
                    <tr>
                        <th>
                            @* @Html.DisplayNameFor(model => model.Name) *@
                            Mã lô
                        </th>
                        <th>
                            @* @Html.DisplayNameFor(model => model.ImportDate) *@
                            Ngày nhập
                        </th>
                        <th>
                            @* @Html.DisplayNameFor(model => model.Origin) *@
                            Xuất xứ
                        </th>
                        <th>
                            @* @Html.DisplayNameFor(model => model.ExpiryDate) *@
                            Ngày hết hạn
                        </th>
                        <th>
                            @* @Html.DisplayNameFor(model => model.Quantity) *@
                            Số lượng (Nhập)
                        </th>
                        <th>
                            @* @Html.DisplayNameFor(model => model.Quantity) *@
                            Số lượng (Còn lại)
                        </th>
                        <th>
                            @* @Html.DisplayNameFor(model => model.Description) *@
                            Chú thích
                        </th>
                        <th>
                            @* @Html.DisplayNameFor(model => model.Manufacturer) *@
                            Nhà sản xuất
                        </th>
                        <th>
                            @* @Html.DisplayNameFor(model => model.Medicine) *@
                            Tên thuốc
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImportDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Origin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpiryDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QuantityRemaining)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Medicine.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ManufacturingBatchId">Chỉnh sửa</a> |
                                <a asp-action="Details" asp-route-id="@item.ManufacturingBatchId">Chi tiết</a> |
                                <a asp-action="Delete" asp-route-id="@item.ManufacturingBatchId">Xoá</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>