@* @model MedicineStock.Models.Medicine *@
@model IEnumerable<MedicineStock.Models.ManufacturingBatch>
@{
    ViewData["Title"] = "Create";
    ViewBag.Menu = "Prescripton";
}

<!-- header -->
<div class="page-header">
    <div class="page-title">
        <h2>Thêm hoá đơn</h2>
    </div>
</div>

<!-- search bar -->
<div class="table-top">
    <div class="search-set">
        <div class="search-input">
            <a class="btn btn-searchset"><img src="~/assets/img/icons/search-white.svg" alt="img"></a>
            <input name="searchPhrase" type="search" class="form-control form-control-sm" placeholder="Tìm kiếm..." id="searchBox">
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <form asp-controller="Prescriptions" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- automatically add time to prescription  -->
            <input name="prescription.PrescriptionDate" type="hidden" id="datetime" />
            <script>
                // Get current date and time
                var now = new Date();
                var datetime = now.toLocaleString();

                // Insert date and time into the input field
                document.getElementById("datetime").value = datetime;
            </script>

            <!-- select medicine-->
            <div class="table-responsive dataview">
                <table class="table datatable " id="searchTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Mã lô</th>
                            <th>Tên thuốc</th>
                            <th>Số lượng (Còn lại)</th>
                            <th>Đơn giá</th>
                            <th>Giảm giá</th>
                            <th>Chủng loại</th>
                            <th>Nhà sản xuất</th>
                            <th>Xuất xứ</th>
                            <th>Ngày hết hạn</th>
                            <th>Chú thích (thuốc)</th>
                            <th>Chú thích (hoá đơn)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 0;
                            foreach (var item in Model)
                            {
                                // expired medicine won display in view
                                if (DateOnly.FromDateTime(DateTime.Now) >= item.ExpiryDate) { break; }
                                <tr>
                                    <!--
                                        hidden input use for transfer all medicine data to controller
                                        checkbox input transfer id of medicine selected to controller

                                        'name' tag use instead 'asp-for' for transfer list of object to controller

                                    -->
                                    
                                    <input type="hidden" name="prescriptionDetail[@index].MedicineId" value="@item.MedicineId" />
                                    <!-- -->

                                    <input type="hidden" name="prescriptionDetail[@index].ManufacturingBatchId" value="@item.ManufacturingBatchId" />                                    
                                    <td><input type="checkbox" name="selectedItems" value="@item.MedicineId" /></td>
                                    <td class="productimgname">@item.Name</td>
                                    <td>@item.Medicine.Name</td>
                                    <td>
                                                <input name="prescriptionDetail[@index].Quantity" type="number" placeholder="@item.QuantityRemaining" max="@item.QuantityRemaining" min="1" />
                                    </td>
                                    <td>@item.Medicine.Price</td>
                                    <td>@item.Medicine.Discount</td>
                                    <td>@(item.Medicine.MedicineType?.Type ?? "Not Found")</td>
                                    <td>@(item.Manufacturer?.Name ?? "Not Found")</td>
                                    <td>@item.Origin</td>
                                    <td>@item.ExpiryDate</td>
                                    <td>@(item.Medicine.Description ?? "Not Found")</td>
                                    <td>
                                        <input name="prescriptionDetail[@index].Description" type="text" placeholder="Nhập chú thích cho hoá đơn" />
                                    </td>                                    
                                </tr>
                                index++;
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <input type="submit" value="Thêm" class="btn btn-submit me-2" />
                    <a asp-controller="Prescriptions" asp-action="Index" class="btn btn-cancel">Huỷ</a>
                    <button hidden type="submit" formaction="@Url.Action("ShowPreView", "Prescriptions")" class="btn btn-cancel">Xem trước</button>
                    <button id="loadViewsBtn" type="button" class="btn btn-cancel">Xem trước</button>

                </div>
            </div>
        </form>
    </div>    
</div>

<div id="partialViewsContainer">
    <!-- Partial views will be loaded here -->
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#loadViewsBtn').click(function () {
                // Prevent the default form submission
                event.preventDefault();

                // Serialize the form data
                var formData = $('form').serialize();

                // Load partial view for invoice preview
                $.ajax({
                    url: '@Url.Action("ShowPreView", "Prescriptions")',
                    type: 'POST',
                    data: formData,
                    success: function (result) {
                        $('#partialViewsContainer').html(result);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>
}

<script src="~/assets/js/jquery-3.6.0.min.js"></script>