@model MedicineStock.Models.Prescription

@{
    ViewData["Title"] = "Edit";
    ViewBag.Menu = "Prescripton";
}

<h1>Edit</h1>

<h4>Prescription</h4>
<hr />
<div class="card">
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <input type="text" asp-for="@Model.PrescriptionId" readonly/> *@
            <div class="row">      
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label asp-for="@Model.PrescriptionId" class="control-label"></label>
                        <input asp-for="@Model.PrescriptionId" class="form-control" type="text" value="@Model.PrescriptionId" readonly />
                        <span asp-validation-for="@Model.PrescriptionId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label asp-for="@Model.PrescriptionDate" class="control-label"></label>
                        <input asp-for="@Model.PrescriptionDate" class="form-control" type="datetime" value="@Model.PrescriptionDate" readonly/>
                        <span asp-validation-for="@Model.PrescriptionDate" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <!-- select medicine-->
            <div class="table-responsive dataview">
                <table class="table datatable ">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Batch Code</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Product Type</th>
                            <th>Manufacturer</th>
                            <th>Origin</th>
                            <th>Expiry Date</th>
                            <th>Desccription</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 0;

                            foreach (var item in (ViewData["ManufacturingBatches"] as IEnumerable<ManufacturingBatch>))
                            {
                                // expired medicine won display in view
                                if (DateOnly.FromDateTime(DateTime.Now) >= item.ExpiryDate) { break; }
                                <tr>
                                    <!--
                                        hidden input use for transfer all medicine data to controller
                                        checkbox input transfer id of medicine selected to controller

                                        'name' tag use instead 'asp-for' for transfer list of object to controller

                                    -->
                                    <input type="hidden" name="prescriptionDetail[@index].PrescriptionId" value="@Model.PrescriptionId" />
                                    <input type="hidden" name="prescriptionDetail[@index].MedicineId" value="@item.MedicineId" />
                                    <input type="hidden" name="prescriptionDetail[@index].ManufacturingBatchId" value="@item.ManufacturingBatchId" />
                                    <td><input type="checkbox" name="selectedItems" value="@item.ManufacturingBatchId" @(Model.PrescriptionDetails.Any(pd => pd.ManufacturingBatchId == item.ManufacturingBatchId && pd.PrescriptionId == Model.PrescriptionId) ? "checked=\"\"" : "") /></td>
                                    <td class="productimgname">@item.Name</td>
                                    <td>@item.Medicine.Name</td>
                                    <td>
                                        <!-- query item quantity from prescriptiondetails -->
                                        @{
                                            try
                                            {
                                                var itemQuantity = Model.PrescriptionDetails.Where(pd => pd.ManufacturingBatchId == item.ManufacturingBatchId && pd.PrescriptionId == Model.PrescriptionId).FirstOrDefault();
                                                <input name="prescriptionDetail[@index].Quantity" type="number" max="@item.Quantity" min="1" value="@itemQuantity.Quantity" />
                                            }
                                            catch(NullReferenceException)
                                            {
                                                <input name="prescriptionDetail[@index].Quantity" type="number" max="@item.Quantity" min="1" value="1" />
                                            }
                                        }
                                        
                                    </td>
                                    <td>@item.Medicine.Price</td>
                                    <td>@(item.Medicine.MedicineType?.Type ?? "Not Found")</td>
                                    <td>@(item.Manufacturer?.Name ?? "Not Found")</td>
                                    <td>@item.Origin</td>
                                    <td>@item.ExpiryDate</td>
                                    <td>@(item.Description ?? "Not Found")</td>
                                </tr>
                                index++;
                            }

                            // foreach( var item in Model.prescriptionDetail)
                            // {
                            //     <td><input type="hidden" name="prescriptionDetail[@index].PrescriptionDetailId" value="@item.PrescriptionDetailId" /></td>
                            //     <td><input type="hidden" name="prescriptionDetail[@index].MedicineId" value="@item.MedicineId" /></td>
                            //     index++;
                            // }
                            // index = 0;
                            // foreach (var item in Model.Medicines)
                            // {
                            //     Console.WriteLine($"medicine id in edit view presciption controller: {item.MedicineId} - {Model.prescriptionDetail.Any(pd => pd.MedicineId == item.MedicineId)}");

                            //     <tr>                                                                      
                            //         <td><input type="checkbox" name="selectedItems" value="@item.MedicineId" @(Model.prescriptionDetail.Any(pd => pd.MedicineId == item.MedicineId) ? "checked=\"\"" : "") /></td>
                            //         <td class="productimgname">@item.Name</td>
                            //         <td>@item.Origin</td>
                            //         <td>@(item.Manufacturer?.Name ?? "Not Found")</td>
                            //         <td>@item.ExpiryDate</td>
                            //         <td>@item.Price</td>
                            //         <td asp-for="@item.Quantiy">@item.Quantiy</td>
                            //         <td>@(item.Description ?? "Not Found")</td>
                            //         <td>@(item.MedicineType?.Type ?? "Not Found")</td>
                            //     </tr>
                            //     index++;
                            // }
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-submit me-2" />
                    <a asp-controller="Prescriptions" asp-action="Index" class="btn btn-cancel">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
