@model IEnumerable<MedicineStock.Models.Prescription>
@* @model MedicineStock.Models.Prescription *@
@{
    ViewData["Title"] = "Index";
}

<!-- header -->
<div class="page-header">
    <div class="page-title">
        <h2>Prescriptions List</h2>
        <h6>Manage your Prescriptions</h6>
    </div>
    <div class="page-btn">
        <a class="btn btn-added" asp-action="Create"><img src="assets/img/icons/plus.svg" alt="img" class="me-1">Add New</a>
    </div>
</div>

<!-- search bar -->
<div class="table-top">
    <div class="search-set">
        <div class="search-input">
            <a class="btn btn-searchset"><img src="assets/img/icons/search-white.svg" alt="img"></a>
            <form asp-action="Index">
                <input name="searchPhrase" type="search" class="form-control form-control-sm" placeholder="Search..." aria-controls="DataTables_Table_0">
                <div class="form-group">
                    <input type="submit" value="Find" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


<div class="card mb-0">
    <div class="card-body">
        <div class="table-responsive dataview">
            <table class="table datatable ">
                <thead>
                    <tr>
                        <th>SNo</th>
                        <th>@Html.DisplayNameFor(model => model.PrescriptionId)</th>
                        <th>@Html.DisplayNameFor(model => model.PrescriptionDate)</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@count</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrescriptionId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrescriptionDate)
                                </td>
                                <td>
                                    <!-- calculate total price of prescriptions -->
                                    @{
                                        decimal totalPrice = 0;
                                        foreach (var item2 in item.PrescriptionDetails)
                                        {
                                            Console.WriteLine($"Quantity: {item2.Quantity}\nMedicine price: {item2.ManufacturingBatch.Medicine?.Price ?? 0}");
                                            totalPrice += item2.Quantity * item2.ManufacturingBatch.Medicine.Price ?? 0;
                                        }

                                        <!-- display total price -->
                                        @totalPrice
                                    }
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.PrescriptionId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.PrescriptionId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.PrescriptionId">Delete</a>
                                </td>
                            </tr>
                            count++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
