@model IEnumerable<MedicineStock.Models.Manufacturer>

@{
    ViewData["Title"] = "Index";
}

<!-- header -->
<div class="page-header">
    <div class="page-title">
        <h2>Manufacturer List</h2>
        <h6>Manage your Manufacturer</h6>
    </div>
    <div class="page-btn">
        <a class="btn btn-added" asp-action="Create"><img src="assets/img/icons/plus.svg" alt="img" class="me-1">Add New</a>
    </div>
</div>

<!-- search bar -->
<div class="table-top">
    <div class="search-set">
        <div class="search-input">
            <a class="btn btn-searchset"><img src="assets/img/icons/search-white.svg" alt="img"></a>
            <form asp-action="Index">
                <input name="searchPhrase" type="search" class="form-control form-control-sm" placeholder="Search..." aria-controls="DataTables_Table_0">
                <div class="form-group">
                    <input type="submit" value="Find" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ManufacturerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ManufacturerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ManufacturerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
