@model IEnumerable<MedicineStock.Models.MedicineType>

@{
    ViewData["Title"] = "Index";
    ViewBag.Menu = "MedicineType";
}

<!-- header -->
<div class="page-header">
    <div class="page-title">
        <h2>Medicines Types List</h2>
        <h6>Manage your Medicines Types</h6>
    </div>
    <div class="page-btn">
        <a class="btn btn-added" asp-action="Create"><img src="assets/img/icons/plus.svg" alt="img" class="me-1">Add New</a>
    </div>
</div>

<!-- search bar -->
<div class="table-top">
    <div class="search-set">
        <div class="search-input">
            <a class="btn btn-searchset"><img src="assets/img/icons/search-white.svg" alt="img"></a>
            <input name="searchPhrase" type="search" class="form-control form-control-sm" placeholder="Search..." id="searchBox">
        </div>
    </div>
</div>


<table class="table" id="searchTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicineTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedicineTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicineTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
